@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
margin: 0px;
padding: 0px;
background-color: black;
}

html {
  scroll-behavior: smooth;
}

#header{
 background-color: black;
 position: fixed;
 width:100%;
 
}
#header h1{
 display: inline-block;
 margin-left: 40px;
 padding: 10px;
font-family: 'Poppins', sans-serif;
 color:white;

}
#header ul{
display: inline-block;
float: right;

}
#header ul li{
display: inline-block;
float: left;
list-style-type: none;
height: 36px;
color:white;
padding:15px ;
padding-top: 25px;
padding-bottom: 25px;
font-family: 'Poppins', sans-serif;
transition: color 1s;

    /* display: inline; */
    /* justify-content: space-between; */

font-size: 1.5rem; 
margin-left: 5mm;   
}
#header ul li:hover{
background-color: black;
color:#FA5661;

}
#header ul a{
text-decoration-style: none;
}
/* 
@media (min-height: 300px)(min-width: ;) {
  nav ul {
    position: sticky;
    top: 0;
  }

} */

.navlogo{
     
    display: inline-block;
    float: left;
    /* border-radius: 5px; */
    width: 70px;
    height: 70px;
    margin-left: 5mm;
    margin-top: 5mm;
    margin-bottom: 2mm;
    position: sticky;
}
.mainlogo{
  position: fixed;
  width: 419px;
  height: 406px;
  margin-top: 197px;
  margin-left:39%;

}

#my-canvas
{
    margin: 0px;
    padding: 0px;
    height: 20%;
    width: 100%;
}



.flex-center {
  width: 5%;
  
  
  background: #000;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: grid;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
}

.icon-3d :hover {
    -webkit-animation: icon3d 200ms infinite;
          animation: icon3d 200ms infinite;
  }


@keyframes icon3d {
  0% {
    text-shadow: 5px 4px rgba(244,67,54,1) , -5px -6px ;
  }
  25% {
    text-shadow: -5px -6px rgba(244,67,54,1), 5px 4px rgba(33,150,243,1);
  }
  50% {
    text-shadow: 5px -4px rgba(244,67,54,1), -8px 4px rgba(33,150,243,1);
  }
  75% {
    text-shadow: -8px -4px rgba(244,67,54,1), -5px -4px rgba(33,150,243,1);
  }
  100% {
    text-shadow: -5px 0 rgba(244,67,54,1), 5px -4px rgba(33,150,243,1);
  }
}