@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
margin: 0px;
padding: 0px;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

#headder{
 background-color: black;
 position: fixed;
 width:100%;
 
}
#headder h1{
 display: inline-block;
 margin-left: 40px;
 padding: 10px;
font-family: 'Poppins', sans-serif;
 color:white;

}
#headder ul{
display: inline-block;
float: right;

}
#headder ul li{
display: inline-block;
float: left;
list-style-type: none;
height: 36px;
color:white;
padding:15px ;
padding-top: 25px;
padding-bottom: 25px;
font-family: 'Poppins', sans-serif;
transition: color 1s;

    /* display: inline; */
    /* justify-content: space-between; */

font-size: 1.5rem; 
margin-left: 5mm;   
}
#headder ul li:hover{
background-color: black;
color:#FA5661;

}
#headder ul a{
text-decoration-style: none;
}

/* @media (min-height: 300px)(min-width: ;) {
  nav ul {
    position: sticky;
    top: 0;
  }

} */

.navlogo{
     
    display: inline-block;
    float: left;
    /* border-radius: 5px; */
    width: 50px;
    height: 50px;
    margin-left: 5mm;
    margin-top: 5mm;
    margin-bottom: 2mm;
    position: sticky;
}

h1{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 70px;
  font-weight: 500;
}
.prod-1{
 height: 280px;
  overflow: hidden;
  cursor: pointer;
}
.prod-1-img{
  position: relative;
  height: 230px;
  transform: scale(1.05);
}

.image_overlay {
  /* position: absolute; */
  /* opacity: 0; */
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: black;
  
} 

.prod-1:hover .first-img {
  opacity: 0.2;
}

.prod-1:hover .second-img {
  opacity: 0.5;
}

.prod-1:hover .third-img {
  opacity: 0.5;
}

.prod-1:hover .four-img {
  opacity: 0.5;
}

.prod-1:hover .fifth-img {
  opacity: 0.5;
}

.prod-1:hover .sixth-img {
  opacity: 0.5;
}

.prod-1:hover .image_overlay{

  opacity: 1;
}

.prod-1:hover .prod-1-img{
  transform: scale(1);
}
.prod-text{
  /* border: 1px solid #ddd; */
  background-color: #eee;
  color: #02475e;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.prod-1:hover .prod-text{
  background-color:#02475e;
  color: #eee;
}

.prod-1:hover .prod-1-img:hover .prod-text{
  background-color:#02475e;
  color: #eee;
}
.first-img{
  background-image: url("Images/food.jfif");
}

.second-img{
  background-image: url("Images/entertainment.jpg");
}

.third-img{
  background-image: url("Images/edu_blog.png");
}

.four-img{
  background-image: url("Images/gaming.png");
}
.fifth-img{
  background-image: url("Images/sports_blog.jfif");
}

.sixth-img{
  background-image: url("Images/tech_blog.jfif");
}
.bg-reset{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-center {

   margin-top: 10% !important;
  
}

.mainhead
 {
   margin-top: 3%;
   padding-top: 3%;
   padding-bottom: 0.5%;
   color: white;
   font-weight: bolder;
   text-align: center;
   font-size: 5rem;
  }
